# backend/.env.example

# Server
PORT=3000

# Database 
# production url
DATABASE_URL="DATABASE_URL"
# development url
# DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/odinbook_app"

# JWT
JWT_SECRET="JWT_SECRET"

# JWT expiration
JWT_EXPIRES_IN="7d"

# Session
SESSION_SECRET="SESSION_SECRET"

# Github
GITHUB_CLIENT_ID="GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="GITHUB_CLIENT_SECRET"