/* frontend/src/styles/text.css */

.right-links, 
.right-links a:link, 
.right-links a:visited, 
.right-links a:hover, 
.right-links a:active {
    color: var(--lightest-blue);
}

.right-links a:link, 
.right-links a:visited {
    text-decoration: none;
  }

.right-links a:hover, 
.right-links a:active {
    text-decoration: underline;
}