/* frontend/src/styles/theme.css */

/* theme variables */
:root {
  --black: #000000;
  --darkest-grey: #7c7c7c;
  --dark-grey: #a9a9a9;
  --light-grey: #d3d3d3;
  --white: #f0f0f0;
  --pink: #FE4CCE;
  --light-pink: #f186d5;
}