/* frontend/src/styles/LeftPanel/tabs.css */

.tabs-container {
    display: flex;
    flex-direction: column;
}

.tab {
    cursor: pointer;
    font-size: 18.8px;
}

.tab:hover {
    background-color: var(--medium-blue);
}

/* TODO: on hover color for tabs */

/* TODO: 
hovering over user icon
shows display name and username
and "..."
*/