/* frontend/src/styles/RightPanel/suggested.css */

#suggested-container {
    border-radius: 8px;
    border: 1px solid green;
    text-align: center;
}

.suggested-icon {
    width: 50px;
}

/* 
TODO:
make sure icons, usernames, and follow button
are all aligned vertically with each other
*/