/* frontend/src/styles/CenterPanel/profile.css */

.banner {
    width: 600px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.user-displayname,
.user-username, 
.users-common {
    padding-bottom: 5px;
}

.user-stats,
.user-bio {
    padding-bottom: 10px;
}

.user-tabs {
    border-bottom: 1px solid red;
}
