/* frontend/src/styles/CenterPanel/profile.css */

.banner {
    width: 600px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.username-display {
    padding-top: 2px;
    padding-bottom: 8px;
}

.users-common {
    padding-bottom: 5px;
}

.user-stats,
.user-bio {
    padding-bottom: 10px;
}

.indiv-stats {
    display: flex;
    gap: 4px; 
}

.user-stats {
    display: flex;
}

.user-tabs {
    border-bottom: 1px solid var(--debug-center);
}