/* frontend/src/styles/shared/text.css */

/* shared text and links */
.left-panel,
.center-panel,
.right-panel {
    color: var(--white);
}

.bold-link {
    font-weight: bold;
}

.white-link {
    color: var(--white)
}

.lightblue-link {
    color: var(--lightest-blue);
}

.right-links, 
.right-links a:visited,
.user-username,
.users-common,
.stat,
.post-stat {
    color: var(--lightest-blue);
}

.right-links a:link, 
.suggested-links,
.stat {
    text-decoration: none;
}

.right-links a:hover, 
.suggested-links:hover,
.stat:hover {
    text-decoration: underline;
}

/* github and linked in links */
.right-links {
    margin-top: 20px;
    font-size: 13.1px;
}