/* frontend/src/styles/shared/text.css */

/* 
ALL colors/decoration/bold/italics/etc
for text and links should be set in this file! 
*/

/* shared text and links */
.bold-link {
    font-weight: bold;
}

.white-link {
    color: var(--white)
}

/* left panel text */
.left-panel {
    color: var(--white);
}

/* center panel text */
.center-panel {
    color: var(--white);
}

/* right panel text and links */
.right-panel {
    color: var(--white);
}

.right-links {
    margin-top: 20px;
    font-size: 13.1px;
}

.right-links, 
.right-links a:visited {
    color: var(--lightest-blue);
}

.right-links a:link, 
.suggested-links {
    text-decoration: none;
}

.right-links a:hover, 
.suggested-links:hover {
    text-decoration: underline;
}

/* user profile text */
.user-username,
.user-stats,
.users-common {
    color: var(--lightest-blue);
}