/* frontend/src/styles/shared/theme.css */

/* theme variables */
:root {
    /* primary colors */
    --accent: #0F73FF;
    --accent-light: #4F96FF;
    --white: #FFFFFF;
    
    /* blue scale */
    --darkest-blue: #151D28;
    --dark-blue: #122136;
    --medium-blue: #222E3F;
    --hover-blue: #1C2736;
    --grey-blue: #2B3A4E;
    --light-blue: #6F839F;
    --lightest-blue: #ABB8C9;
    
    /* debug/development colors (remove when not needed) */
    --debug-left-right: blue;
    --debug-center: red;
    --debug-suggested: green;
}