/* frontend/src/styles/theme.css */

/* theme variables */
:root {
    --accent: #0F73FF;
    --white: #FFFFFF;
    --darkest-blue: #151D28;
    --dark-blue: #122136;
    --medium-blue: #222E3F;
    --light-blue: #6F839F;
    --lightest-blue: #BEC9DD;
    --grey-blue: #313A4E;
}